.circle__box {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    background-color: rgba(70, 67, 67);
    height: 300px;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
    overflow: hidden;

}
.button:hover {
    background-color: rgb(204, 61, 140);
}
.button:hover .bar1 {
    background-color: white;
    /* transform: translateY(-60px); */

    transform: translateY(35px) rotate(45deg);
}
.button:hover .bar3 {
    background-color: white;
    transform: translateY(-35px) rotate(-45deg);
}
.button:hover .bar2 {
    background-color: rgba(70, 67, 67);
    transform: translateX(500px);

}
  .circle__wrapper {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 1;
  }
  
  .circle__wrapper--right {
    right: 0;
    z-index: 1;
  }
  
  .circle__wrapper--left {
    left: 0;
    z-index: 1;
  }
  
  .circle__whole {
    width: 160px;
    height: 160px;
    border: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
    transform: rotate(-135deg);
  }
  .bar1,
.bar2,
.bar3 {
    position: relative;
    top: -10px;
    background-color: rgb(204, 61, 140);
    width: 120px;
    height: 5px;
    margin: 30px;
    transition: 0.5s ease;
    z-index: 2;
    /* transform-origin: left; */

}

  .circle__right {
    border-top: 5px solid white;
    border-right: 5px solid white;
    right: 15.5px;

  }
  .button:hover .circle__right {
    animation: circleRight 0.5s linear forwards;
  }
  .button:hover .circle__left {
    animation: circleLeft 0.5s linear forwards;
  }
  .circle__left {
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    left: 15.5px;
  }
  
  @keyframes circleRight {
    0% {
      transform: rotate(-135deg);
    }
    50%,
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes circleLeft {
    0%,
    50% {
      transform: rotate(-135deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }